# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Generated data (recreated on demand)
fivem-stream-cache.bin
fivem-stream-full.csv
fivem-stream-full.json
fivem-osint.db
dashboard.html
top50.csv
filtered.csv
*.log

# OS / editor
Thumbs.db
.DS_Store
.vscode/
.idea/
